/* Google Font imported - Playfair Display for headings and Montserrat for body */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

/* Wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    color: #001F3F;
    font-family: 'Montserrat', sans-serif;
}

/* Header */
header {
    background-color: #001F3F;
    padding: 0 1rem;
    position: fixed;
    z-index: 10;
    width: 100%;
    box-shadow: 0 10px 3px #3a3a3a;
    display: flex;
    justify-content: space-between;
    align-items: center; /* Center align items vertically */
}

header a {
    text-decoration: none;
    color: inherit;
}

#header-logo img {
    max-width: 100%;
    height: auto;
    width: 80px;
    margin-right: 2rem;
}

#header-logo {
    display: flex;
    align-items: center;
}

h1 {
    font-family: 'Playfair Display', sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #ffffff;
    margin-left: 1rem; /* Adjust spacing between logo and title */
}

#menu {
    font-size: 110%;
    letter-spacing: 2px;
    list-style-type: none;
    display: flex;
    color: #ffffff;
}

#menu > li {
    margin-left: 1rem;
}

.active {
    border-top: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff;
}

/* Navbar dropdown toggle */
nav {
    position: absolute;
    background-color: #001F3F;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 10px 3px #3a3a3a;
    display: none;
    top: 100%;
}

/* Nav toggle */
#nav-toggle:checked ~ nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
    color: #ffffff;
}

/* Main content */
main {
    background-color: bisque;
    /* Main element to take up surplus space and push footer down */
    flex: 1 0 auto;
    margin-top: 90px;
}
main h1 {
    text-align: center;
    font-size: 200%;
    color: #001F3F;
}
/* timeline */
.timeline {
    position: relative;
    max-width: 1200px;
    margin: 10px auto;
    color: #ffffff;
}
.container {
    padding: 10px 50px;
    position: relative;
    width: 50%;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 6px;
}

.text-box {
    padding: 20px 30px;
    background-color: #001F3F;
    position: relative;
    border-radius: 6px;
    font-size: 15px;
}
.left-container {
    left: 0;
}
.right-container {
    left: 50%;
}

/* Background map image */
#main-bg {
    background-image: url("../images/main-bg/Back\ ground\ hero.png");
    background-repeat: no-repeat;
    background-position: center;
    /* Revisit once content added */
}

/* Footer */
footer {
    background-color: #001F3F;
    color: #ffffff;
    text-align: right;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
}

#social-network {
    text-align: center;
    display: flex;
    letter-spacing: 50px;
    list-style: none;
}

#social-network i {
    font-size: 160%;
    padding: 5%;
    color: #ffffff;
}

/* Media Query for landscape phones */
@media screen and (min-width: 576px) {
    main {
        margin-top: 53px;
    }
}

/* Media Query for tablets */
@media screen and (min-width: 768px) {
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
    }

    #menu {
        display: flex;
    }

    #menu > li {
        padding-left: 1rem;
        margin-bottom: 0;
    }

    .nav-toggle-label {
        display: none;
    }

    #logo {
        font-size: 2.8rem;
        line-height: 75px;
        margin: 0 0.5rem;
    }

    main {
        margin-top: 90px;
    }
}

/* Media Query for laptops/desktops */
@media screen and (min-width: 992px) {
    #menu a:hover {
        border-top: 1px solid #ffffff;
        border-bottom: 1px solid #ffffff;
    }
}

/* Media Query for 1072px or above width */
@media screen and (min-width: 1072px) {
    main {
        margin-top: 90px;
    }
}
