/* Google Font imported - Playfair Display for headings and Montserrat for body*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

/* Wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* generic project styles */
    color: black;
    font-family: 'montserrat', sans-serif;
}

/* Header */
header {
    background-color: white;
    padding: 0 1 rem;
    position: fixed;
    z-index: 10;
    width: 100%;
    box-shadow: 0 10px 3px #3a3a3a;
h1 {
    font-family: 'Playfair Display', sans-serif;
}

/* main */
main {
    background-color: bisque;
    /* Main element to take up surplus space and push footer down */
    flex: 1 0 auto;
}

/* footer */

footer {
    background-color: brown;
}